absl-py==0.9.0
appdirs==1.4.4
appnope==0.1.0
astor==0.8.1
astunparse==1.6.3
attrs==19.3.0
audiolazy==0.6
audioread==2.1.8
autogbt @ git+https://github.com/pfnet-research/autogbt-alt.git@57f7ae1bce2923d11f73c3631e34be49c7dd25da
autogluon==0.0.6
autokeras==1.0.2
backcall==0.2.0
bcrypt==3.1.7
bleach==3.1.5
blis==0.4.1
boto==2.49.0
boto3==1.14.9
botocore==1.17.9
cachetools==4.1.0
catalogue==1.0.0
catboost==0.23.2
certifi==2020.4.5.2
cffi==1.14.0
chardet==3.0.4
click==7.1.2
cliff==3.3.0
cloudpickle==1.4.1
cmd2==1.1.0
colorama==0.4.3
colorlog==4.0.2
ConfigSpace==0.4.10
cryptography==2.9.2
ctgan==0.2.1
cycler==0.10.0
cymem==2.0.3
Cython==0.29.20
cytoolz==0.10.1
dask==2.6.0
datacleaner==0.1.5
deap==1.3.1
decorator==4.4.2
deepspeech==0.7.4
defusedxml==0.6.0
deprecation==2.1.0
distlib==0.3.0
distributed==2.6.0
docutils==0.15.2
editdistance==0.4
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-2.3.0/en_core_web_lg-2.3.0.tar.gz
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz
entrypoints==0.3
eyeD3==0.9.5
ffmpeg-normalize==1.20.0
filelock==3.0.12
filetype==1.0.7
future==0.18.2
Gammatone==1.0
gast==0.2.2
gensim==3.8.3
gluoncv==0.7.0
gluonnlp==0.8.1
google-auth==1.17.2
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
graphviz==0.8.4
grpcio==1.29.0
h5py==2.10.0
HeapDict==1.0.1
hmmlearn==0.2.3
-e git+git@github.com:jim-schwoebel/allie.git@b93d3a652dbb6be27600871e005d9622a9fd7b99#egg=hpsklearn&subdirectory=training/helpers/hyperopt-sklearn
hyperopt==0.2.4
idna==2.9
imagecorruptions==1.1.0
imageio==2.8.0
imageio-ffmpeg==0.4.2
imgaug @ git+https://github.com/aleju/imgaug.git@0101108d4fed06bc5056c4a03e2bcb0216dac326
importlib-metadata==1.6.1
install==1.3.1
ipykernel==5.3.0
ipython==7.15.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.17.1
jellyfish==0.8.2
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.15.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.3
jupyter-console==6.1.0
jupyter-core==4.6.3
Keras==2.4.2
Keras-Applications==1.0.8
keras-compressor @ file:///Users/jim/Desktop/allie/training/helpers/keras_compressor
Keras-Preprocessing==1.1.2
keras-tuner==1.0.1
kiwisolver==1.2.0
librosa==0.6.2
lightgbm==2.3.1
llvmlite==0.31.0
Markdown==3.2.2
markovify==0.8.2
MarkupSafe==1.1.1
matplotlib==3.2.2
mistune==0.8.4
mock==4.0.2
more-itertools==8.4.0
moviepy==1.0.3
msgpack==1.0.0
msgpack-numpy==0.4.6.1
mss==6.0.0
murmurhash==1.0.2
musdb==0.3.1
museval==0.3.0
mxnet==1.6.0
nbconvert==5.6.1
nbformat==5.0.7
networkx==2.4
nltk==3.5
nose==1.3.7
notebook==6.0.3
numba==0.48.0
numpy==1.18.4
oauthlib==3.1.0
opencv-contrib-python==3.4.2.16
opencv-python==3.4.2.16
opencv-python-headless==4.3.0.36
opt-einsum==3.2.1
optuna==0.7.0
packaging==20.4
pafy==0.5.5
pandas==0.25.3
pandocfilters==1.4.2
paramiko==2.7.1
parso==0.7.0
patsy==0.5.1
pbr==5.4.5
PeakUtils==1.3.3
pesq==0.0.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.0.0
plac==0.9.6
plotly==4.8.1
pluggy==0.13.1
portalocker==1.7.0
praat-parselmouth==0.3.3
preshed==3.0.2
prettytable==0.7.2
proglog==0.1.9
prometheus-client==0.8.0
prompt-toolkit==3.0.5
protobuf==3.12.2
psutil==5.7.0
ptyprocess==0.6.0
py==1.8.2
pyaml==20.4.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyAudioAnalysis==0.3.5
pycparser==2.20
pydub==0.24.1
pyemd==0.5.1
pyfiglet==0.8.post1
Pygments==2.6.1
pyloudnorm==0.1.0
PyNaCl==1.4.0
pyobjc==6.1
pyobjc-core==6.1
pyobjc-framework-Accounts==6.1
pyobjc-framework-AddressBook==6.1
pyobjc-framework-AdSupport==6.1
pyobjc-framework-AppleScriptKit==6.1
pyobjc-framework-AppleScriptObjC==6.1
pyobjc-framework-ApplicationServices==6.1
pyobjc-framework-AuthenticationServices==6.1
pyobjc-framework-Automator==6.1
pyobjc-framework-AVFoundation==6.1
pyobjc-framework-AVKit==6.1
pyobjc-framework-BusinessChat==6.1
pyobjc-framework-CalendarStore==6.1
pyobjc-framework-CFNetwork==6.1
pyobjc-framework-CloudKit==6.1
pyobjc-framework-Cocoa==6.1
pyobjc-framework-Collaboration==6.1
pyobjc-framework-ColorSync==6.1
pyobjc-framework-Contacts==6.1
pyobjc-framework-ContactsUI==6.1
pyobjc-framework-CoreAudio==6.1
pyobjc-framework-CoreAudioKit==6.1
pyobjc-framework-CoreBluetooth==6.1
pyobjc-framework-CoreData==6.1
pyobjc-framework-CoreHaptics==6.1
pyobjc-framework-CoreLocation==6.1
pyobjc-framework-CoreMedia==6.1
pyobjc-framework-CoreMediaIO==6.1
pyobjc-framework-CoreML==6.1
pyobjc-framework-CoreMotion==6.1
pyobjc-framework-CoreServices==6.1
pyobjc-framework-CoreSpotlight==6.1
pyobjc-framework-CoreText==6.1
pyobjc-framework-CoreWLAN==6.1
pyobjc-framework-CryptoTokenKit==6.1
pyobjc-framework-DeviceCheck==6.1
pyobjc-framework-DictionaryServices==6.1
pyobjc-framework-DiscRecording==6.1
pyobjc-framework-DiscRecordingUI==6.1
pyobjc-framework-DiskArbitration==6.1
pyobjc-framework-DVDPlayback==6.1
pyobjc-framework-EventKit==6.1
pyobjc-framework-ExceptionHandling==6.1
pyobjc-framework-ExecutionPolicy==6.1
pyobjc-framework-ExternalAccessory==6.1
pyobjc-framework-FileProvider==6.1
pyobjc-framework-FileProviderUI==6.1
pyobjc-framework-FinderSync==6.1
pyobjc-framework-FSEvents==6.1
pyobjc-framework-GameCenter==6.1
pyobjc-framework-GameController==6.1
pyobjc-framework-GameKit==6.1
pyobjc-framework-GameplayKit==6.1
pyobjc-framework-ImageCaptureCore==6.1
pyobjc-framework-IMServicePlugIn==6.1
pyobjc-framework-InputMethodKit==6.1
pyobjc-framework-InstallerPlugins==6.1
pyobjc-framework-InstantMessage==6.1
pyobjc-framework-Intents==6.1
pyobjc-framework-IOSurface==6.1
pyobjc-framework-iTunesLibrary==6.1
pyobjc-framework-LatentSemanticMapping==6.1
pyobjc-framework-LaunchServices==6.1
pyobjc-framework-libdispatch==6.1
pyobjc-framework-LinkPresentation==6.1
pyobjc-framework-LocalAuthentication==6.1
pyobjc-framework-MapKit==6.1
pyobjc-framework-MediaAccessibility==6.1
pyobjc-framework-MediaLibrary==6.1
pyobjc-framework-MediaPlayer==6.1
pyobjc-framework-MediaToolbox==6.1
pyobjc-framework-MetalKit==6.1
pyobjc-framework-ModelIO==6.1
pyobjc-framework-MultipeerConnectivity==6.1
pyobjc-framework-NaturalLanguage==6.1
pyobjc-framework-NetFS==6.1
pyobjc-framework-Network==6.1
pyobjc-framework-NetworkExtension==6.1
pyobjc-framework-NotificationCenter==6.1
pyobjc-framework-OpenDirectory==6.1
pyobjc-framework-OSAKit==6.1
pyobjc-framework-OSLog==6.1
pyobjc-framework-PencilKit==6.1
pyobjc-framework-Photos==6.1
pyobjc-framework-PhotosUI==6.1
pyobjc-framework-PreferencePanes==6.1
pyobjc-framework-PubSub==6.1
pyobjc-framework-PushKit==6.1
pyobjc-framework-QTKit==6.1
pyobjc-framework-Quartz==6.1
pyobjc-framework-QuickLookThumbnailing==6.1
pyobjc-framework-SafariServices==6.1
pyobjc-framework-SceneKit==6.1
pyobjc-framework-ScreenSaver==6.1
pyobjc-framework-ScriptingBridge==6.1
pyobjc-framework-SearchKit==6.1
pyobjc-framework-Security==6.1
pyobjc-framework-SecurityFoundation==6.1
pyobjc-framework-SecurityInterface==6.1
pyobjc-framework-ServiceManagement==6.1
pyobjc-framework-Social==6.1
pyobjc-framework-SoundAnalysis==6.1
pyobjc-framework-Speech==6.1
pyobjc-framework-SpriteKit==6.1
pyobjc-framework-StoreKit==6.1
pyobjc-framework-SyncServices==6.1
pyobjc-framework-SystemConfiguration==6.1
pyobjc-framework-SystemExtensions==6.1
pyobjc-framework-UserNotifications==6.1
pyobjc-framework-VideoSubscriberAccount==6.1
pyobjc-framework-VideoToolbox==6.1
pyobjc-framework-Vision==6.1
pyobjc-framework-WebKit==6.1
pyparsing==2.4.7
pyperclip==1.8.0
pypesq==1.2.4
Pyphen==0.9.5
pyrsistent==0.16.0
pysepm==0.1
pystoi==0.3.3
pytesseract==0.3.4
pytest==5.4.3
python-dateutil==2.8.1
python-speech-features==0.6
pytz==2020.1
pyvad==0.1.1
PyWavelets==1.1.1
PyYAML==5.3.1
pyzmq==19.0.1
qtconsole==4.7.5
QtPy==1.9.0
regex==2020.6.8
requests==2.24.0
requests-oauthlib==1.3.0
resampy==0.2.2
retrying==1.3.3
rsa==4.6
s3transfer==0.3.3
scikit-image==0.17.2
scikit-learn==0.22.2.post1
scikit-optimize==0.7.4
scikit-plot==0.3.7
scikit-video==1.1.11
scipy==1.4.1
seaborn==0.10.1
Send2Trash==1.5.0
Shapely==1.7.0
Signal-Analysis==0.1.26
simplejson==3.17.0
six==1.15.0
sklearn==0.0
smart-open==2.1.0
sortedcontainers==2.2.2
sounddevice==0.4.0
SoundFile==0.10.3.post1
sox==1.3.7
spacy==2.2.0
speechmetrics==1.0
SpeechRecognition==3.8.1
SQLAlchemy==1.3.17
SRMRpy==1.0
srsly==1.0.2
statsmodels==0.11.1
stempeg==0.1.8
stevedore==2.0.1
stopit==1.1.2
tabulate==0.8.7
tbb==2019.0
tblib==1.6.0
tensorboard==2.1.1
tensorboard-plugin-wit==1.6.0.post3
tensorflow==2.1.2
tensorflow-estimator==2.1.0
tensorpack==0.9.4
termcolor==1.1.0
terminado==0.8.3
terminaltables==3.1.0
testpath==0.4.4
textacy==0.10.0
textblob==0.15.3
textrank @ git+git://github.com/davidadamojr/TextRank.git@5d178e8918ceeb431d9f085a2b23729b7b607892
tf-slim==1.1.0
tgan==0.1.0
thinc==7.1.1
threadpoolctl==2.1.0
tifffile==2020.7.24
toolz==0.10.0
torch==1.6.0
torchvision==0.7.0
tornado==6.0.4
TPOT==0.11.3
tqdm==4.43.0
traitlets==4.3.3
tsaug==0.2.1
typing==3.7.4.1
umap==0.1.1
umap-learn==0.4.4
Unidecode==1.1.1
update-checker==0.17
urllib3==1.25.9
vidgear==0.1.8
virtualenv==20.0.23
wasabi==0.7.0
wcwidth==0.2.5
webencodings==0.5.1
webrtcvad==2.0.10
Werkzeug==1.0.1
wget==3.2
widgetsnbextension==3.5.1
wrapt==1.12.1
xgboost==1.1.1
xlrd==1.2.0
yellowbrick==1.1
youtube-dl==2020.7.28
zict==2.0.0
zipp==3.1.0
