audioread
decorator
enum34
h5py
html5lib
joblib
Keras
librosa
llvmlite
numba
numpy
protobuf
PyYAML
resampy
scikit-learn
scipy
SoundFile
tensorflow
Werkzeug
opencv-python==3.4.2.16
opencv-contrib-python==3.4.2.16
webrtcvad
xgboost
tpot
beautifultable
alphapy
hyperopt 
tqdm
