alphapy
audioread
beautifultable
decorator
enum34
eyed3 
dcase_util
ffmpeg-normalize
fuzzywuzzy
gensim
h5py
hyperopt 
joblib
kafka-python
keras==2.2.0
keras_squeezenet==0.4
librosa==0.6.2
llvmlite
ludwig
lxml==4.2.4
markovify
matplotlib 
natsort
nltk
numba
numpy
opencv-python==3.4.2.16
opencv-contrib-python==3.4.2.16
moviepy
peakutils
pillow
pocketsphinx
praat-parselmouth
protobuf
psutil
pyaudio
pyaudioanalysis==0.2.5
pydub
pyobjc
pymongo
pyqt5==5.10.1
python_speech_features
pyautogui
pyscreenshot
pytesseract
python-Levenshtein
PyYAML
qtpy
ray
readchar
requests
resampy
scikit-learn
scipy
scikit-video
setproctitle
simplejson 
sounddevice
soundfile
spacy
SpeechRecognition
subprocess32
tensorflow
termcolor
textblob
tpot
tqdm
uuid
wave
webrtcvad
wget
xgboost
xlsxwriter
