alphapy
audioread
beautifultable
decorator
enum34
eyed3 
gensim
h5py
hyperopt 
imageio
joblib
kafka-python
keras
librosa
llvmlite
ludwig
matplotlib 
nltk
numba
numpy
opencv-python==3.4.2.16
opencv-contrib-python==3.4.2.16
moviepy
peakutils
pillow
pocketsphinx
praat-parselmouth
protobuf
pydub
pymongo
python_speech_features
pyscreenshot
pytesseract
PyYAML
requests
resampy
Shapely
scikit-image
scikit-learn
scipy
scikit-video
simplejson 
six
sounddevice
soundfile
spacy
SpeechRecognition
tensorflow
textblob
tpot
tqdm
wave
webrtcvad
wget
xgboost
